*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--color-bg);
}

a{
    text-decoration: none;
    color: unset;
}

.section__padding{
    padding: 2.5rem 4rem;
}

.section__margin{
    margin: 2rem 4rem;
}

@media screen and (max-width: 1050px) {
    .section__padding{
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding{
        padding: 2rem 1rem;
    }

    .section__margin{
        margin: 1rem 2rem;
    }
}