@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --font-family: 'Manrope', sans-serif;
    --color-primary: #000;
    --color-secondary: #05796B;
    --color-tertiary: #F57059;
    --color-subtext: #757095;
    --color-bg: #fff;
    --color-bg1: #05796B;
}